python/*/trace/
python/*/exploit_syscalls.log
python/*/trace_combined.log
python/*/dockerfile

java/*/trace/
java/*/exploit_syscalls.log
java/*/trace_combined.log
java/*/*.class
java/*/dockerfile

js/*/trace/
js/*/exploit_syscalls.log
js/*/trace_combined.log
js/*/dockerfile